<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block meta %}{% endblock %}
  <title>Habit Tracker - {% block title %}Home{% endblock %}</title>
</head>
<body>
  {% if not user.is_authenticated %}
  <header>
    <nav>
      <ul>
        <a href="{% url 'home' %}">HabitTracker</a>
        <a href="{% url 'auth_login' %}">Login/Register</a>
      </ul>
    </nav>
  </header>
  {% else %}
  <header>
      <nav>
        <ul>
          <a href="{% url 'home' %}">HabitTracker</a>
          <a href="{% url 'profile' username=request.user.username %}">{{ request.user.username }}</a>
          <a href="{% url 'auth_logout' %}">Logout</a>
        </ul>
      </nav>
    </header>
  {% endif %}
  {% block content %}
  {% endblock %}
</body>
</html>